
<link rel="stylesheet" href="static/css/index1.css">

<style>
    .header{
        background:url(static/images/banner-bg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
</style>

<body>

<nav class="navbar">
    <center>
    <div class="logo">
        
            <img src="" alt="">
            <h1>Royal Dine</h1>
            <hr>
            <br>
            <a class="link1" href="">Home</a>
            <a class="link2"  href="">Our Menus</a>
            <a class="link3" href="">Blogs</a>
            
    </div>
    </center>
</nav>

<header class="header" >

<center>
    <h2>Where Every Flavor Tells a Story</h2>

    <h1>Aglio Olio</h1>

    <h3>Whoopie Pies and other seasonal favorites are back for January!</h3>

</center>

    <div class="links">
        
        <a href="">Order Now</a>
    </div>

</header>

</body>